body {
    background-color: aquamarine;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: pink;
    font-style: bold;
    font-size: 20px; 
}
.hej {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}
a:hover {
    color: white;
    background-color: palevioletred; 
}
ul {
    display: flex; 
    flex-direction: row;
    gap: 20px; 
    list-style: none;
}
.icon {
    display:none;
}

@media screen and (max-width: 600px) {
    .navigation a:not(:first-child) {display: none;}
    .navigation a.icon {
      float: right;
      display: block;
      margin-right: 5px;
      background: none;
      cursor: pointer; 
    }
  }
  @media screen and (max-width: 600px) {
    .navigation.responsive {position: relative;}
    .navigation.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }