body {
    background-color: aquamarine;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
    font-style: bold;
}
a:hover {
    color:brown;
}
ul {
    display: flex; 
    flex-direction: row;
    gap: 20px; 
    list-style: none;
}
.icon {
    display:none;
}

@media screen and (max-width: 600px) {
    .navigation a:not(:first-child) {display: none;}
    .navigation a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .navigation.responsive {position: relative;}
    .navigation.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }